.submit-form {
    background-color: #FFFFFE;
    margin: auto;
    height: 50%;
    width: 240px;
    text-align: center;
    margin-top: 120px;
}

.register-title,
.login-title {
    font-size: 40px;
    color: #24755b;
}

.form {
    margin: 20px;   
}

#error {
    margin-top: 10px;
    color: yellow;
    font-size: 23px;
    background-color: #6a7a75;
    visibility: hidden;
}

.form input {
    display: block;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -11px 11px 22px 3px rgba(0, 0, 0, 0.34);
}

.submit-button {
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 13px 10px;
    color: #fff;
    margin-top: 10px;
    box-shadow: -3px 7px 22px 3px rgba(0, 0, 0, 0.34);
    cursor: pointer;
}

.col{
    float: left;
    width: 50%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.recipe-form input{
    display: block;
    width: 85%;
    margin-bottom: 7px;
    margin-top: 4px;
    padding: 8px 24px;
    border: 1px solid;
    border-radius: 4px;
}

.add-button{
    padding: 5px 10px;
    border: 2px solid #2c9d8f ;
    border-radius: 2px;
    cursor: pointer;    
    background-color: #2baa8c;
    color: #FFFFFF;
}

.account{
    width: 60%;
    margin: 40px;
}

.account-form input{
    display: block;
    width: 60%;
    margin-top: 3px;
    margin-bottom: 7px;
    padding:5px 10px;
    border: 1px solid;
    border-radius: 5px;
}
.account-form button{
    margin: 3px;
}