.title {
    padding-top: 50px;
    color: #4fc9a3;
    text-align: center;
    font-size: 40px;
}

.head {
    height: 25vh;
    width: 100%;
    background: url('./images/Search\ Background.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 0%;
}

.search-form {
    padding: 10px;
    text-align: center;
}

.search-form__text {
    width: 30%;
    padding: 4px 15px;
    margin-right: 3px;
    border: 1px solid;
    border-radius: 10px;
}

.search-form__button {
    padding: 4px 15px;
    color: #fff;
    background-color: #1F6650;
    border-radius: 10px;
    border: 1px solid #FBE3B9
}

.search-form__button:hover{
    color: #1F6650; 
    border: 1px solid #1F6650;
    background-color: #FFF;
    transition: 0.5s;
}

.result-header{
    margin-top: 40px;
    font-size: 37px;
    visibility: hidden;
    text-align: center;
    border-bottom: 2px solid #1F6650;
}

.recipe-list{
    margin-top: 15px;
}

.Recipe {
    position: relative;
    float: left;
    text-align: center;
    margin: 5px;
    padding: 10px;
    width: 45%;
    height: auto;
    border: 10px;
    border-radius: 10px;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
    background-color: #f5faf8;
    justify-content: space-evenly;
}

.Recipe:hover{
    transform: translateY(-7px);
    transition: 0.6s;
}
.recipe-image{
    width: 300px;
    height: 300px;
}

#fav, #notFav{
    position: absolute;
    right: 18px;
    font-size: 25px;
    color: #1F6650;
    transition: all .6s;
}

.recipe-button{
    padding: 5px 13px;
    border: 1px solid ;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    background-color: #ff9d80;
    color: white;
}
.recipe-button:hover{
    color: #ff9d80;
    border: 1px solid #ff9d80;
    background-color: #FFF;
    transition: 0.3s;
}

.backtotop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 30px;
    color: #FD5E53;
    transition: color .8s;
}

.backtotop:hover {
    color: #2A896B;
}